body {
  font-family: 'Montserrat',
  sans-serif;
  background: #E5E5E5;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

.about {
  margin-bottom: 40px;
}
.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}
.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}
.about-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

.projects {
  margin-bottom: 50px;
}
.progects-title,
.work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.progects-list {
  padding: 0;
  margin-left: 15px;
}
.progects-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project-link,
.project-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.project-link {
  margin-left: 10px;
}
.project-braket {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* work styles */
.work {}
.work-position {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.organization {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
}
.work-duration {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 10px;
}
.line {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.work-list {
  padding: 0;
  margin-left: 15px;
}
.work-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959
}

.education {  
}
.education-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.univer-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
}
.speciality {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.education-duration {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
}

/* sidebar */
.sidebar {
  background: #1E2939;
  padding-top: 40px;
  width: 370px;
}
.photo {
  width: 370px;
  margin-bottom: 50px;
}
.sidebar-title {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
}
.contacts {
  margin-bottom: 50px;
}
.contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-left: 10px;
}
.phone, .email {
  margin: 0;
}
.tech-skills-list,
.soft-skills-list {
  margin-left: 0;
  padding-left: 20px;
}
.tech-skills-list-item,
.soft-skills-list-item {
  color: #FB6D3A;
  margin-bottom: 10px;
}
.tech-skills-text,
.soft-skills-text {
  color: #fff;
}